# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
server/.env
client/.env.local
.env

# Build outputs
client/build/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
